@import url('https://fonts.googleapis.com/css?family=K2D');
@import url('https://fonts.googleapis.com/css?family=Charmonman:700&subset=latin-ext,thai,vietnamese');

html{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    /* color: #373737; */
}

.user-view{
    background-image: -webkit-linear-gradient(135deg, #464775 0%, #5683C0 100%);
}

.img-skill{
    height: 64px;
}

p, h1, h2{
    margin: 0px;
}

.personal-information{
    text-align: justify;
}

.presentation-card{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-contact{
    height: 30px;
    width: 30px;
}

.card-assets > img{
    height: auto;
}

.card-action{
    display: flex;
    justify-content: space-evenly;
}

.mouse{
    margin-top: 50px;
    height: 50px;
    color: white;
}

.card-content .card-title{
    text-align: center;
}

.card-content:nth-child(2){
    text-align: justify;
}

.div-to-bottom .arrow-group span {
    position: relative;
    display: block;
}

.div-to-bottom .arrow-group span::before {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -7.5px;
    content: '';
    width: 15px;
    height: 15px;
    border-left: 2px solid #D7D7FF;
    border-bottom: 2px solid #D7D7FF;
    transform: rotate(-45deg);
    opacity: 100;
    animation: sdb 1.2s infinite;
}

.btn-projects{
    border: 1px solid #BF6DA3;
    background-color: #BF6DA3;
    color: white !important;
}

.btn-cv{
    border: 1px solid #5A86BF;
    background-color: transparent;
    color: #333;
}

.btn-cv:hover{
    background-color: #5A86BF;
    border: 1px solid #5A86BF;
    color: white;
}

.btn-projects:hover{
    color: white;
    background-color: #7e2f63;
    border: 1px solid #BF6DA3;
}

.content-icon-tech, .content-icon-social{
    overflow-x: scroll;
}

nav, header, .contain-list{
    height: 80px !important;
    line-height: 80px;
    font-size: 20px !important;
    background-image: -webkit-linear-gradient(135deg, #464775 0%, #5683C0 100%);
}

.about-me, .projects, .skills{
    min-height: calc(100% - 80px);
    padding-top: 80px;
}

.start{
    height: calc(100vh - 80px);
    padding-top: 80px;
    background-image: url('./assets/bg-home.jpg');
    background-repeat: round;
    background-position-x: left;    
}

.contact{
    background-color: #333;
    font-family: "Poppins", sans-serif;
}

.brand-logo{
    font-family: 'Charmonman', cursive;
    margin-left: 16px;
    color: white;
}

.greeting{
    margin-top: 24px;
    font-size: 54px;
    color: #333;
    /* text-shadow: 3px 1px white ; */
    font-weight: 900;
    margin-bottom: 36px;
    letter-spacing: 1.5px;
}

.slogan{   
    margin-top: 36px;  
    margin-bottom: 16px; 
    font-size: 36px;
    font-weight: 100 !important;
}

.btn-projects, .btn-cv{
    height: 50px;
    width: 200px;
    margin-left: 8px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    color: #333;
}

.page-footer{
    background-image: -webkit-linear-gradient(135deg, #464775 0%, #5683C0 100%);
}

.picture {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hero-picture-bg {
    background-color: #fff;
    opacity: 0.6;
}

.sidenav-overlay{
    z-index: 996;
}

.page-footer li{
    margin-bottom: 8px;
}

.page-footer li i, .page-footer li a i, .page-footer li a img{
    padding-right: 8px;
}

.content-information span{
    margin-bottom: 16px;
    margin-top: 30px;
}

.content-information div{
    text-align: center;
}

.footer-copyright {
    margin-bottom: 0;
}

.card .card-action a{
    margin-right: 4px !important; 
    height: 36px;
    width: 100%;
    color: white !important;
    border-radius: 2px;
    padding: 7px 0px;
}

.bg-sky{
    background-color: #5A86BF;
}

.bg-blue{
    background-color: #BF6DA3;
}


@media (max-width: 425px){
    .content-information{
        display: block;
    }
}

@media (max-width: 768px){
    nav .brand-logo{
        font-size: 26px ;
    }

    .greeting{
        margin-top: 0px;
        font-size: 36px;
    }

    .slogan{
        font-size: 26px;
    }

    .btn-projects{
        margin-bottom: 8px;
    }

    .btn-projects, .btn-cv{
        height: 36px;
        font-size: 16px;
    }

    .div-to-bottom{
        display: none;
    }

    .img-skill{
        height: 46px;
    }

    .content-icon-tech, .content-icon-social{
        overflow-x: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: space-around;        
    } 
    .start{
        height: calc(100vh - 80px);
        background-repeat: round;
        background-position-x: left;
        background-repeat-x: no-repeat;
    }

    .sidenav{
        width: 260px;
    }

    .content-icon-tech>div, .content-icon-social>div{
        margin-bottom: 16px;
    }
}
